/*Variables for html*/
$w: #fff;
$o: #be9e21;
$opa: #67696c;





/*Responsive*/

@media screen and (max-width: 480px){
	.banner-content h4
	{
		font-size: 20px;
		margin-top: -60px;
	}
	.banner-content h1
	{
		font-size: 27px;
	}
	.banner-content p
	{
		font-size: 14px;
	}
	.btn-warning, .btn-warning1
	{
		margin-top: -35px;
	}
	.navbar-toggler
	{
		background: $w;
	}
	.fa-chevron-down
	{
		margin-top: -30px;
	}
	.navbar-expand-lg > .container
	{
		padding: 0 15px;
	}
	.nav-link
	{
		background-color: #424d63;
		padding-left: 0;
		padding-right: 0;
	}
	.paddingleft
	{
		padding-left: 65px;
	}
	.carousel-indicators
	{
		bottom: -100px !important;
	}
	.imgdown
	{
		margin-top: 70px;
	}
	.carousel-item img
	{
		margin-left: 190px !important;
	}
	.lists
	{
		ul{
			margin-left: 0px !important;
			margin-top: 80px !important;
			padding: 0 !important;
			li{
				display: inline-block;
				a{
					float: none;
					padding:20px 3px !important;
				}
			}
		}
	}
	.lists ul li:nth-child(2),.lists ul li:nth-child(3)
	{
		display: none !important;
	}
	.lists1
	{
		margin-top: 0 !important;
	}
	.listscontact ul
	{
		margin-left: -85px !important;
	}
	.controls
	{
		margin: auto;
		width: 480px !important;
	}
	iframe
	{
		margin-left: 25px !important;
		height: 300px !important;
	}
	.formdata
	{
		padding-top: 20px;
	}
	.formdata form input
	{
		width: 300px !important;
	}
	.formdata form .emailform
	{
		width: 350px !important;
	}
	.formdata form .messageform
	{
		width: 400px !important;
	}
	.carousel-item .roll-testimonial
	{
		display: block;
	}
	.roll-testimonial h5
	{
		font-size: 20px;
		color: $w;
		padding-top: 40px;
	}
	.roll-testimonial p
	{
		font-size: 16px;
		color: $w;
	}
	.carousel-caption
	{
		display: none;
	}
	.row .iframemap
	{
		display: block;
		margin-top: 40px;
	}
	.iframegoogle
	{
		display: none;
	}
	.locationservice .locinfo
	{
		display: block;
		padding-top: 30px;
		font-size: 20px;
	}
	.locationservice .infoloc
	{
		color: $o;
	}
	.locationservice .loc
	{
		color: $o;
	}
	.about-header h2, .portfolio-content h1, .services-content h2, .blog-content h1
	{
		font-size: 31px !important;
	}
	.about-header p, .services-content p, .blog-content p, .portfolio-content p
	{
		font-size: 17px !important;
	}
	.footer-content h1, .footer-content-contact h1
	{
		font-size: 25px !important;
	}
	.footer-content p
	{
		font-size: 14px !important;
	}
	.navbarmargin
	{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.redd
	{
		background-color: rgba(64, 75, 97, 0.99) !important;
		width: 100%;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
	.down
	{
		padding: 0;
		background-color: $o;
		opacity: 0.6;
		position: fixed;
		bottom: 100px;
		right: 10px !important;
		display: none;
		z-index: 12;
	}
	.down i
	{
		font-size: 25px;
		color: $w;
	}	
	.owl-carousel .owl-stage-outer
	{
		height: 635px !important;
		width: 480px !important;
	}
	.portfolio-item
	{
		margin-right: 20px !important;
	}
	.sc-content
	{
		margin-left: 20px;
	}
}


/*CSS starts*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
body
{
	font-family: 'Raleway', sans-serif;
}
html
{
	scroll-behavior: smooth;
}
.banner
{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bg1.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 650px;
}
.navbar-light .navbar-brand
{
	color: $w;
	font-size: 28px;
	font-weight: 700;
}
.navbar-light .navbar-brand:hover
{
	color: $w;
}
.navbarmargin
{
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.logo-dec
{
	color: $o;
}
.bgg
{
	background-color: transparent;
	padding-top: 30px;
	transition: 0.9s;
}
.redd
{
	background-color: rgba(64, 75, 97, 0.99) !important;
	width: 100%;
	padding: 7px 0;
}
.navbar-expand-lg .navbar-collapse
{
	font-family: 'Roboto', sans-serif;
}
.navbar-light .navbar-nav .nav-link
{
	color: $w;
	font-size: 14px;
	padding-left: 15px;
	transition: 0.9s;
}
.navbar-light .navbar-nav .nav-link:hover
{
	color: $o;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link
{
	color: $o;
	font-size: 14px;
}
.banner-content
{
	font-family: 'Poppins', sans-serif;
	color: $w;
	padding-top: 150px;
}
.banner-content h1, h4
{
	font-weight: 700;
}
.banner-content p
{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
.btn-warning
{
	background-color: $o;
	color: $w;
	border-radius: 35px;
	font-size: 14px;
	padding: 10px 25px;
}
.btn-warning:hover
{
	color: $w;
	background-color: $o;
}
.btn-warning1
{
	background-color: transparent;
	color: $o;
	border: solid 1px $o;
	border-radius: 35px;
	font-size: 14px;
	padding: 10px 25px;
	transition: 0.6s;
}
.btn-warning1:hover
{
	background-color: $o;
	color: $w;
}
.fa-chevron-down
{
	font-size: 20px;
	color: $w;
	padding-top: 80px;
}
#about
{
	transition: 0.9s;
	padding: 20px 0;
}
.about-content
{
 	color: $opa;
 	text-align: justify;
}
.about-content h3
{
	font-size: 26px;
}
.about-header h2
{
	font-size: 35px;
	font-weight: 600;
	color: $opa;
	margin-top: 20px;
}
.about-header p
{
	font-size: 20px;
	color: $opa;
}
.hr
{
	width: 40px;
	margin-top: 25px;
	color: $o;
	border: 2px solid $o; 
}
#services
{
	background: #f3f4f8;
	margin-top: 50px;
	padding: 70px 0;
}
.services-content
{
 	color: $opa;
}
.services-content h2
{
	font-size: 35px;
	font-weight: 600;
	color: $opa;
	margin-top: 20px;
}
.services-content p
{
	font-size: 20px;
}
.sc-content
{
	box-shadow: 5px 5px 30px grey;
	padding-bottom: 20px;
	margin-right: 20px;
}
.sc-content h2
{
	font-size: 24px;
	color: $opa;
	font-weight: 600;
}
.sc-content span
{
	font-size: 60px;
}
.sc-content p
{
	font-size: 16px;
	color: $opa;
}
.sc-content a
{
	text-decoration: none;
	color: $o;
}
#portfolio
{
	padding: 40px 0;
}
.portfolio-content
{
 	color: $opa;
}
.portfolio-content h1
{
	font-weight: 600;
	font-size: 35px;
}
.portfolio-content p
{
	font-size: 20px;
}
.portfolio-item
{
    position:relative;
    width: 100%;
    height: 250px;
    float:left;
    margin-right:4px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-size: 135%;
    background-position:center;
    transition:0.5s;
    margin-top: 15px;
}
  
.portfolio-item:hover
{
    background-size:145%;
}
  
.portfolio-item:after
{
    position:absolute;
    top:100%;
    bottom:0;
    left:0;
    right:0;
    white-space:pre-wrap;
    overflow:hidden;
    background-color: rgba(243, 156, 18, 0.8);
    color:#fff;
    padding:0 8px;
    opacity:0;
    content:attr(data-text);
    transition:0.9s;
}
  
.portfolio-item:hover:after
{
    opacity:1;
    top:0;
    padding:8px;
}
  
.portfolio-item:first-line
{
    color: $w;
    font-weight: bold;
    font-size:1.5em;
}
#testimonial
{
	background: linear-gradient(rgba(73, 84, 105, 0.61), rgba(73, 84, 105, 0.61)), url(../img/bg2.jpg) no-repeat;
	background-size: cover;
	min-height: 390px;
	background-attachment: fixed;
}
.roll-testimonial
{
	display: none;
}
#blog
{
	padding: 40px 0;
}
.blog-content
{
 	color: $opa;
}
.blog-content h1
{
	font-weight: 600;
	font-size: 35px;
}
.blog-content p
{
	font-size: 20px;
}
.card img
{
	opacity: 0.82;
	transition: 0.9s;
}
.card img:hover
{
	opacity: 1;
	background-size: 145% !important;
}
.card-body h3
{
	font-size: 20px;
	font-weight: 600;
}
.card-body p
{
	font-size: 16px;
}
.card-body a
{
	text-decoration: none;
	color: $o;
}
.card-body i
{
	cursor: pointer;
}
.carousel-item img
{
	margin-left: 520px;
}
.d-md-block
{
	bottom: -80px;
	z-index:  11;
	padding-top: 65px;
}
.carousel-indicators
{
	bottom: -75px;
}
.carousel-control-prev
{
	bottom: -180px;
}
.carousel-control-next
{
	bottom: -180px;
}
.imgdown
{
	margin-top: 65px;
}
.carousel-caption
{
	position: static;
}
#footer
{
	background-color: #495469;
}
.footer-content
{
 	color: $w;
}
.footer-content h1
{
	font-weight: 600;
	font-size: 30px;
}
.footer-content p
{
	font-size: 16px;
}
.hrfooter
{
	width: 40px;
	margin-top: 25px;
	color: $w;
	border: 2px solid $w; 
}
.fontsawesome i
{
	font-size: 24px;
	padding: 20px 8px;
	color: $o;
	transition: 0.9s;
}
.fontsawesome .fa-facebook:hover
{
	transform: rotate(360deg);
	color: #395694;
}
.fontsawesome .fa-instagram:hover
{
	transform: rotate(360deg);
	color: #b6359f;
}
.fontsawesome .fa-twitter:hover
{
	transform: rotate(360deg);
	color: #1c9cec;
}
.fontsawesome .fa-rss:hover
{
	transform: rotate(360deg);
	color: #eb6221;
}
.fontsawesome .fa-linkedin:hover
{
	transform: rotate(360deg);
	color: #005e8e;
}
.lists
{
	margin-top: -60px;
	ul{
		list-style-type: none;
		padding: 45px 0;
		margin-left: 315px; 
  		li{
  			a{
  				display: inline;
  				color: $w;
  				padding: 20px 8px;
  				text-decoration: none;
  				float: left;
  				font-size: 14px;	
  				font-weight: 600;	
  				transition: 0.9s;
  				opacity: 0.8;		
  			}
  		}
	}
}
.lists ul li a:hover
{
	color: $o;
}
.active a
{
	color: $o !important;
	transition: 0.9s;
}
.active a:hover
{
	color: #cc5500 !important;
}
.lists1 i
{
	padding: 0px 10px;
	font-size: 20px;
	color: $o;
}
.spantext
{
	font-size: 15px;
	color: $w;
	cursor: pointer;
}
.rights
{
	color: $w;
	font-size: 13px;
}
.fa-angle-double-down
{
	font-size: 24px;
	color: $w;
}
.footer-content-contact h1
{
	font-weight: 600;
	font-size: 27px;
	color: $w;
}
#contact
{
	padding: 70px 0;
}
.lists2 i
{
	padding: 0px 10px;
	font-size: 20px;
	color: $o;
}
.spantexts
{
	color: #000;
	opacity: 0.7;
}
.border-darks
{
	box-shadow: 10px 10px 15px grey;
}
.controls
{
	margin: auto;
	width: 1349px;
}
.contentpart a
{
	font-size: 20px;
	color: $o;
	text-decoration: none;
	transition: 0.9s;
}
.contentpart a:hover
{
	color: #cc5500;
}
.contentpart i
{
	color: #cc5500;
}
.fontsawesome .fa
{
	border-radius: 360px;
	background-color: $w;
	padding: 9px 10px;
}.fa-facebook
{
	border-radius: 360px;
	background-color: $w;
	padding: 9px 14px !important;
}
.fa-rss
{
	border-radius: 360px;
	background-color: $w;
	padding: 9px 11px !important;
}
.btn-orange
{
	background-color: $o;
	color: $w;
}
.btn-orange:hover
{
	background-color: #cc9900;
	color: $w;
}
.iframemap
{
	display: none;
}
.locinfo
{
	display: none;
}
.listscontact
{
	padding-top: 10px;
	padding-left: 95px;
}
.down
{
	padding: 0;
	background-color: transparent;
	position: fixed;
	bottom: 100px;
	right: 50px;
	display: none;
	z-index: 12;
}
.down i
{
	font-size: 25px;
	color: $o;
}
.forminfo
{
	color: $opa;
}
.owl-dots
{
	display: none;
}
.owl-carousel .owl-nav button.owl-prev
{
	padding-right: 10px !important;
	color: $o;
	font-size: 43px;
	font-weight: 700;
}
.owl-carousel .owl-nav button.owl-next
{
	padding-left: 10px !important;
	color: $o;
	font-size: 43px;
	font-weight: 700;
}
.owl-carousel .owl-stage-outer
{
	width: 1160px;
	height: 600px;
}
.footer-content-contact
{
	padding-bottom: 15px;
}
.middle{
	padding-left: 140px;
}